// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.login-page .login-page{
  font-size:18px;
}

.nav-link .user-image {
  float: left;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: .25em;
  margin-top: -2px;
  display: inline-block;
}

.form-title {
  padding-bottom: 8px;
  border-bottom: 1px dashed #ccc;
  font-weight: 700;
  margin-bottom: 15px;
}
